body {
  margin: 0;
  font-family: -apple-system, 'Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.banner{
  background: url(./assets/Products.png) no-repeat;
  height: 800px;
  background-position-x: center;
  background-size: 100%;
  padding: 0 0 20px 0;
  position: relative;
}

.banner .banner-text{
  font-family: DVB-TTBhimaEN;
  font-weight: 500;
  font-size: 70px;
  padding-left: 100px;
  position: absolute;
  bottom: 100px;
}

@media only screen and (max-width: 1528px)  {
  .banner{height: 500px;}
}

@media only screen and (max-width: 900px)  {
  .banner{height: 400px;}
  .banner .banner-text{
    font-size: 50px;
    padding-left: 50px;
  }
}

@media only screen and (max-width: 600px)  {
  .banner{height: 200px;}
  .banner .banner-text{
    font-size: 20px;
    padding-left: 10px;
    bottom: 100px;
  }
}



.navbar .nav-link{
  margin: 0 20px;
}
.filter-list {
  min-width: 260px;
  box-shadow: 0px 0px 16px #4343431A;
}
.filter-list .card{
  border-radius: 10px;
}
.filter-list .card-body{
  padding: 0;
}

.filter-list .card-title{
  color: #CE0024;
  font-weight: bold;
  margin-top: 10px;
  padding: 20px;
  border-bottom: 1px solid rgb(212, 212, 212) ;
}
.filter-list .card ul{
  padding: 0;
}
.filter-list .card .card-text{
  margin-left: 30px;
}
.filter-list .card li{
  list-style: none;
  margin: 15px 0 15px 20px;
  width: 180px;
}

.filter-list .card li>label{
  margin-left: 10px;
  position: relative;
  top: -5px;
}
.filter-list .card li>input:checked{
  background: #14693D;
}
.filter-list .card li>input:checked + label{
  color: #14693D;
  font-size: 17px;
  font-weight: 600;
}

.filter-list .card li>input {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 6px;
	display: inline-block;
	position: relative;
}

.filter-list .card li>input:checked:after {
	content: '\2714';
	font-size: 12px;
	position: absolute;
	top: 0px;
	left: 5px;
	color: #ffffff;
}

.product-title{
  text-align: center;
  color: #14693D;
  font-size: 30px;
  margin-top: 20px;
}

.product-list .card{
  background: #F1F5F8;
  border-radius: 20px;
  border: none;
  height: 400px;
  margin: 10px 0;
  overflow-y: auto;
}

.footer{
  background: #62d398;
  color: #fff;
  height: 420px;
  background-image: url(./assets/leaff-1.png), url(./assets/leaff.png);
  background-position: left, right;
  background-repeat: no-repeat, no-repeat;
}

.footer li{
  list-style: none;
  display: inline;
}


.contact>div{
  display: inline-block;
}

.contact{
  width: 170px;
  margin: 0 10px;
}

.email{
  background-image: url(./assets/email.svg);
  display: inline-block;
  margin-right: 10px;
  height: 42px;
  width: 42px;
  background-size: 100%;
}

.phone{
  background-image: url(./assets/phone.svg);
  display: inline-block;
  margin-right: 10px;
  height: 42px;
  width: 42px;
  background-size: 100%;
}

.insta,.fb,.ld,.yt{
  height: 55px;
  width: 55px;
  background-size: 99%;
}
.insta,.fb,.ld,.yt{
  margin: 40px 30px;
}

.insta{
  background-image: url(./assets/insta.svg);
}

.fb{
  background-image: url(./assets/fb.svg);
}

.ld{
  background-image: url(./assets/ld.svg);
}

.yt{
  background-image: url(./assets/yt.svg);
}

.footer .row:nth-child(1){
  margin-top: 100px;
}

.footer li{
  padding: 0 15px;
  border-right: 1px solid #fff;
}
.footer ul li:nth-child(4){
  border-right: 1px solid transparent;
}


.product-image{
  height: 100px;
  width: 100px;
  margin: 20px;
}

.available{
  color: #14693D;
}